<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: #242424;">
    <div class="header" style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 40px; margin-top: 20px;">
        <div class="title">
            <h1 style="color: #bfbfbf;">Just Talking</h1>
        </div>
        <div class="links">
            <a href="/dashboard" style="margin-right: 10px;"><button class="btn btn-outline-primary">Continue As Guest</button></a>
            <a href="/login/register"><button class="btn btn-outline-primary">Register/Login</button></a>
        </div>
    </div>
    <div class="container">
        <div class="header3">
            <h4 style="color: #bfbfbf;"><u>About Us</u></h4>
        </div>
        <div class="body" style="margin-bottom: 60px;">
            <p style="color: #bfbfbf; width: 700px;">
                This page is for veterans or for anyone who just need to sit down with random people and let what's bothering them out. Life gets rough sometimes and we need somewhere to go that's not popular and where there might just only be people who genuinely are seeking to talk with someone. You can continue as a guest to see the topics that are on the page but you will not be able to access the topics in order to protect the privacy of our registered users.
            </p>
        </div>
        <div class="header2">
            <h4 style="color: #bfbfbf;"><u>Ground Rules</u></h4>
        </div>
        <div class="body2" style="margin-bottom: 60px;">
            <ul style="color: #bfbfbf;">
                <li>No toxicity</li>
                <li>No Discrimination of any kind</li>
                <li>Please keep cursing at a minimum</li>
                <li>Golden Rule</li>
                <li>This is a safe space your privacy is our top priority</li>
                <li>Most importantly everyone will be respectful</li>
            </ul>
        </div>
        <div class="header4">
            <h3 style="color: #bfbfbf;"><u>Links</u></h3>
        </div>
        <div class="body4">
            <ul style="color: #bfbfbf;">
                <li>
                    <a href="https://www.blackriflecoffee.com/">Black Rifle Coffee</a>  - this company is veteran owned and hosts events for veterans.
                </li>
                <li>
                    <a href="https://www.woundedwarriorproject.org/"> Wounded Warrior Project</a> - another company that helps veterans
                </li>
                <li>
                    <a href="https://afsp.org/">American Foundation for Suicide Prevention</a> - for anyone that wants to dig further into suicide prevenetion or if you need help.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>